@model IEnumerable<BugTracker.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/Custom.css" rel="stylesheet" />
<div class="content" id="content">
    <div class="container-fluid">
        <div class="panel-heading">
            <div class="box-header">
                <h3 class="box-title">Tickets | @Html.ActionLink("Create New", "Create")</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="userTable3" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.AssignedToUser.FirstName)</th>
                            <th>@Html.DisplayNameFor(model => model.Owner.FirstName)</th>
                            <th>@Html.DisplayNameFor(model => model.Project.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.TicketPriority.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.TicketStatus.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.TicketType.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Title)</th>
                            <th>@Html.DisplayNameFor(model => model.Description)</th>
                            <th>@Html.DisplayNameFor(model => model.Created)</th>
                            <th>@Html.DisplayNameFor(model => model.Updated)</th>
                            <th>@Html.DisplayNameFor(model => model.Deleted)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td> @Html.DisplayFor(modelItem => item.AssignedToUser.FirstName)</td>
                                <td> @Html.DisplayFor(modelItem => item.Owner.FirstName)</td>
                                <td> @Html.DisplayFor(modelItem => item.Project.Name)</td>
                                <td> @Html.DisplayFor(modelItem => item.TicketPriority.Name)</td>
                                <td> @Html.DisplayFor(modelItem => item.TicketStatus.Name)</td>
                                <td> @Html.DisplayFor(modelItem => item.Title)</td>
                                <td> @Html.DisplayFor(modelItem => item.Description)</td>
                                <td> @Html.DisplayFor(modelItem => item.Created)</td>
                                <td> @Html.DisplayFor(modelItem => item.Updated)</td>
                                <td> @Html.DisplayFor(modelItem => item.Deleted)</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box-->
    </div>
    <!-- /.col-->
</div>
<!-- /.row -->

@section scripts{
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script>
        $('#userTable3').DataTable({
            'paging': true,
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': true
        });
    </script>
}

