

@model BugTracker.Models.Project

@using BugTracker.Helpers;
@using BugTracker.Models;


@{
    ViewBag.Title = "Details";
    var userProjectsHelper = new ProjectsHelper();
    var roleHelper = new UserRolesHelper();
}



<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Tickets)
        </dd>

    </dl>
</div>






<link href="~/Content/Custom.css" rel="stylesheet" />




<!-- /.box-header -->
<div class="box-body">
    <table id="userTable3" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Created</th>
                <th>Tickets</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var pUser in userProjectsHelper.UsersOnProject(Model.Id).ToList())
                {
                 <td>
                    @pUser.FullName (@foreach (var role in roleHelper.ListUserRoles(pUser.Id)) {@role})<br />           
                 </td>
                 }
                    @if (User.IsInRole("Admin"))
                    {
                        using (Html.BeginForm("ManageProjectUsers", "Admin", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("ProjectId", Model.Id)
                            <td>  @Html.ListBox("ProjectManagers")</td>
                            <td>@Html.ListBox("Developers")</td>
                            <td>@Html.ListBox("Submitters")</td>
                            <td>
                                <input type="submit" value="Assign" class="btn btn-default" />
                                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                            </td>
                            <td>
                                @foreach (var user in userProjectsHelper.UsersOnProject(Model.Id).ToList())
                                {
                                    @user.FirstName @:| @Html.ActionLink("Remove", "RemoveProjectUser", "Admin", new { userId = user.Id, projectId = Model.Id }, null)
                                }
                            </td>
                        }
                    }
                </tr>

            </tbody>
    </table>
    <div class="col">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
<!-- /.box-body -->